Lo que recomienda el libro es definir un valor tomado como outlier y luego a este mimso se lo puede limitar a un valor aceptado o eliminar

In [1]:
import numpy as np 
import pandas as pd

In [13]:
data = pd.DataFrame(np.random.randn(1000, 4))
data

            0         1         2         3
0    0.031456  0.251778  2.119713  0.128759
1    1.039609  0.913007  0.533446 -0.801071
2   -1.083358  0.091258 -0.126694  1.109943
3    1.378188  0.374348 -1.496273  1.001929
4   -0.851808 -0.503527 -0.742740  0.124248
..        ...       ...       ...       ...
995  0.295287 -0.018247  0.922976 -1.061830
996 -0.396029  1.186753 -1.833627 -0.072310
997 -0.377140  0.302731  2.148448 -0.546649
998 -0.732816 -1.043020  2.247924 -0.833672
999  1.733940 -0.194942 -2.685970  0.446718

[1000 rows x 4 columns]

In [14]:
data[(np.abs(data) > 3).any(axis=1)]

            0         1         2         3
109  3.808702  0.200658  3.083317  0.076313
271 -3.164783 -1.477826 -0.168854  2.125394
293 -3.462816  0.712574  0.743045  0.842484
350 -3.238623 -0.343360 -1.756346  1.786446
696 -0.097055 -0.634464  1.319938 -3.279783
713 -0.178226  3.485060  1.088985  0.033447
743  1.531595  1.839663 -1.125060 -3.237573
784 -3.496256  0.510557 -1.859729  0.095316
788 -3.560803  0.524185 -1.046826  0.164221
813 -3.328454  0.780287  1.001018  0.510389
849 -0.107463  0.033128 -3.041220  1.393127
933  3.458529  0.926308 -0.664845  0.534030

In [18]:
data[np.abs(data) > 3] = np.sign(data) * 3

In [17]:
data[(np.abs(data) > 3).any(axis=1)]

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [23]:
data[(np.abs(data) == 3).any(axis=1)]

            0         1         2         3
109  3.000000  0.200658  3.000000  0.076313
271 -3.000000 -1.477826 -0.168854  2.125394
293 -3.000000  0.712574  0.743045  0.842484
350 -3.000000 -0.343360 -1.756346  1.786446
696 -0.097055 -0.634464  1.319938 -3.000000
713 -0.178226  3.000000  1.088985  0.033447
743  1.531595  1.839663 -1.125060 -3.000000
784 -3.000000  0.510557 -1.859729  0.095316
788 -3.000000  0.524185 -1.046826  0.164221
813 -3.000000  0.780287  1.001018  0.510389
849 -0.107463  0.033128 -3.000000  1.393127
933  3.000000  0.926308 -0.664845  0.534030